.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 36px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  height: 250px;
  width: 900px;
}

.city {
  font-size: 20px;
  font-weight: bold;
}

.temp {
  font-size: 42px;
}

.celsius {
  font-size: 16px;
}
